
<div class="container">
    <div class="row">
        <div class="col-sm-10">

            <div class="title">
                <h1>My favorites places</h1>
            </div>
            <br>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <input class="form-control" ng-model="searchText" width="50px" placeholder="Search"/>

            <div class="check-element animate-show" ng-hide="checked">
                <div ng-repeat="place in places | orderBy : created_time | filter: searchText | category:currentCategory | visited:showOnlyVisited">
                    <div class="my-places">
                        <div class="logo">W</div>
                        <hr>
                        <a class ="cardFrontTitle" href="#/places/{{ place.id }}/">{{ place.name }}</a><hr><br>
                        <flip flip-toggle horizontal>
                            <flip-front>
                                <div class="cardFrontContent">
                                    <br> Address : {{ place.streetnum }} {{ place.street }} {{ place.city }}
                                    <br>{{ place.country }}
                                    Created on: {{ place.created_time | date:'MM/dd/yyyy @ h:mm:ss a'}}<br>

                                </div>
                            </flip-front>

                            <flip-back>
                                <img class="displayed" src="static/media/{{ place.image }}" ><br>
                            </flip-back>
                        </flip>
                    </div>
                </div>
            </div>

            <div class="check-element animate-show" ng-show="checked">
                <div id='map'>
                    <mapbox map-id="isabeller.k829gdmh"  lat="38.8833" lng="77.0167" zoom="2">
                        <div ng-repeat="place in places">
                            <marker lat="{{place.latitude}}" lng="{{place.longitude}}" color="#39cccc" symbol="ferry">
                                <h1>{{place.name}}</h1>

                            </marker>
                        </div>
                    </mapbox>
                </div>
            </div>
        </div>

<hr>
        <div class="col-sm-2">
            <img src="http://img.bhs4.com/b7/b/b7b76402439268b532e3429b3f1d1db0b28651d5_large.jpg" width=30px height=30px type="submit" ng-click="newPlace = !newPlace">
            <span ng-hide="newPlace">Add a place</span>
            <span ng-show="newPlace">Cancel</span>
            <br><br>


            <h4>Places visited <input type="checkbox" ng-model="showOnlyVisited"></h4>
            <h4>See map <input type="checkbox" ng-model="checked"></h4>
            <div ng-show="newPlace">
                <div class="addPlaceForm">
                    <br>
                <input class="form-control" ng-model="name" type="text" placeholder="name">
                <input class="form-control" ng-model="description" placeholder="description">
                <select class="form-control" ng-model="category" placeholder="category">
                    <option value="1">Eat</option>
                    <option value="2">See</option>
                    <option value="3">Stay</option>
                    <option value="4">Shop</option>
                </select>
                <input class="form-control" ng-model="street" placeholder="street">
                <input class="form-control" ng-model="city" placeholder="city">
                <input class="form-control" ng-model="country" placeholder="country">
                <span class="form-control">Visited: <input type="checkbox" ng-model="visited"></span>
                 </div>
                <br>
                <button type="submit" class="btn btn-primary btn-small" ng-click="savePlace();">Save Place</button>
            </div>

            <datalist id="categories"></datalist>
            <hr>

            <h3>Categories</h3>
            <div ng-repeat="category in categories">
                <a ng-click ="setCategory(category.id)"><img src="static/media/{{ category.image }}" height="40px" width="40px"></a> {{ category.name }}
            </div>
<hr>
            <h3>Friends</h3>

        </div>

    </div>
</div>












