
            <form method="post" action="." role="form" class="form-horizontal">
                {% csrf_token %}
                {% for field in form %}
                     <div class="form-group">
                         <div class="label-control">{{ field.label_tag }}</div>
                         <div class="label-control"></div>
                         {{ field }}
                     </div>
                {% endfor %}
            <div class="row">
                <div class="col-xs-4 col-xs-offset-4">
                <input type="submit" value="Log in" class="btn btn-md btn-info"></div></div>
            </form>

