
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2>Welcome on Wibee</h2>
<div class="example"><h1>My favorites places</h1>

</div></div></div></div>
<div class="container">
<div class="row">
<div class="col-sm-10">
<input ng-model="searchText" placeholder="Search"/>
<div ng-repeat="place in places | filter: searchText | category:currentCategory">
        <div class="my-places">
        <a href="#/places/{{ place.id }}">{{ place.name }}</a><br>
        <flip flip-toggle horizontal>
        <flip-front>{{ place.name }}, {{ place.city }}, {{ place.country }} {{ place.description }}</flip-front>
        <flip-back><img class="displayed" src="static/media/{{ place.image }}" ></flip-back></flip>
        </div>

</div>
</div>
<div class="col-sm-2">
    <button type="submit" class="btn btn-primary btn-large" data-ng-click="createPlace();" ng-hide="newPlace">Add a place</button><br><br>
    <button> <a href="#/map">See map</a></button>

    <div ng-show="newPlace">
        <h2>New place</h2><span>Name:</span><input ng-model="name" type="text" placeholder="name"><br>
        <span>Description:</span><textarea ng-model="description" placeholder="description"></textarea><br>
        <span>Category:</span>
        <select ng-model="category" type="text" placeholder="category"><br>
            <option value="1">Eat</option>
            <option value="2">See</option>
            <option value="3">Stay</option>
            <option value="4">Shop</option>

        </select><br>
        <span>City:</span><input ng-model="city" placeholder="city"></input><br>
        <span>Country:</span><input ng-model="country" placeholder="country"></input><br>
        <span>Image:</span><input type="file" placeholder="country">
<br>

        <button type="submit" class="btn btn-primary btn-small" ng-click="savePlace();">Save Place</button>
    </div><datalist id="categories">
</datalist>
<h3>Category</h3>
<div ng-repeat="category in categories">
        <a ng-click ="setCategory(category.id)"><img src="static/media/{{ category.image }}" height="40px" width="40px"></a></div>
</div>

</div>
</div>












